<h1 id = "title">Smile</h1>

<h1 id = "about">About Smile</h1>

<div id = "description">
  <p>Smileは、毎日の生活の中で笑顔になった瞬間をつぶやくアプリです</p>
  <p>Smileを見ることによってみんなの笑顔理由を知ることができます</p>
  <p>笑顔の瞬間を共有することによって、さらにhappyな毎日に</p>
  <p>あなたの笑顔の理由、教えてください</p>
</div>